<root>
<!-- 启动端口 -->
	<port>8080</port>
	<!-- 扫描服务包路径 -->
	<service-package>com.track.cat.custom.serivce</service-package>
	<!-- 扫描过滤器包路径 -->
	<filter-package>com.track.cat.custom.filter</filter-package>
	<!-- 扫描持久化对象包路径 -->
	<persistent-bean-package>com.track.cat.custom.bean</persistent-bean-package>
	<!-- http通道数量 -->
	<http-channel-size>64</http-channel-size>
	<!-- 是否清理数据库文件 -->
	<db-clear>true</db-clear>
	<!-- log4j路径 -->
	<log4j-path>config/log4j.properties</log4j-path>
	<!-- 数据库文件路径 -->
	<data-path>resource/LocalDB</data-path>
	<!-- 静态网页路径 -->
	<web-path>web</web-path>
	<!-- 资源上传路径 -->
	<upload-path>upload</upload-path>
	<beans>
		<!-- <bean id="testService" class="com.track.cat.custom.serivce.TestService">
			<property key="a" value="2" />
			<property key="b" value="abc" />
			<property key="c" value="123123" />
			<property key="d" value="123" />
			<property key="e" value="12.21" />
			<property key="f" value="12.3123" />
			<property key="g" value="a" />
			<property key="test2" ref="com.track.cat.custom.serivce.TestService2" />
		</bean> -->
	</beans>
</root>